.ion-content {
  --background: rgb(100, 237, 212);
}

.heading {
  padding-top: 100px;
  margin-bottom: 100px;
}
.ion-footer {
  background-color: rgb(52, 37, 51);
  height: 100px;
}
.footerButton {
  --background: rgb(196, 251, 252);
  color: black;
  margin-top: 30px;
  height: 40px;
  font-size: xx-large;
}

.startQuiz {
  display: block;
  margin: 20px 20%;
  --background: rgb(233, 139, 15);
}

h2 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
}
