.correctAnswer {
  --background: green;
}

.wrongAnswer {
  --background: red;
}
.commonStyle {
  display: block;
  margin: 20px 10%;
}
.infoStyle {
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;

  display: block;
}
.navStyle {
  display: flex;
  gap: 55%;
  align-items: center;
}
.quizBody {
  --background: rgb(83, 95, 83);
}
.scoreStyle {
  --background: blue;
}

ion-title {
  color: blue;
  background-color: rgb(20, 185, 166);
  height: 60px;
}
ion-header {
  --background: blue;
}

.toolbar-container {
}
